/* Formulario */
.form-container 
{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #CE1126;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/*----------------------------------------------------
/* Etiquetas */
.form-container label 
{
    display: block;
    margin-bottom: 5px;
    color: #CE1126;
}
/*----------------------------------------------------
/* Importa la fuente personalizada */
@font-face 
{
    font-family: 'PokemonFont'; /* Nombre de la fuente */
    src: url('../../font-pokemon/Pokemon Solid.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
}
/* Título formulario */
.pokemon-text
{
    font-family: 'PokemonFont'; /* Nombre fuente */
    font-size: 40px; /* Tamaño fuente */
    color: #FFCB05; /* Color fuente */
    text-align: center; /* Centrar el texto horizontalmente */
    letter-spacing: 4px; /* Espaciado entre letras */
    position: relative; /* Para aplicar sombra de texto */
    text-shadow: /*Sombra*/
    -2px -2px 0 #0047AB, /*Sombra esquina Sup Izq*/
    2px -2px 0 #0047AB, /*Sombra esquina Sup Der*/
    -2px 2px 0 #0047AB, /*Sombra esquina inf izq*//*Desenfoque 0 = Nítidez*/
    2px 2px 0 #0047AB, /*Sombra esquina inf der*/
    0px 0px 5px rgba(0,0,0,0.5); /* Sombras internas para evitar superposición */
}
/*----------------------------------------------------*/
/* Entradas de texto */
.form-container input[type="text"] 
{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CE1126;
    border-radius: 5px;
    text-align: center;
}

.form-container input[type="number"] 
{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CE1126;
    border-radius: 5px;
    text-align: center;
}
/*----------------------------------------------------*/
/* Estilo para la etiqueta select */
.select 
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    appearance: none;
  }
/*----------------------------------------------------*/
  /* Estilo para ocultar el select real */
  .select-container select 
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    appearance: none; /* Oculta las flechas del select en algunos navegadores */
}
/*----------------------------------------------------*/
/* Estilo para la etiqueta que muestra la opción seleccionada */
.select-container::after 
{
    content: '\25BC'; /* Flecha hacia abajo ▼ */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
/*----------------------------------------------------*/
/* Estilo para las opciones del select */
.select-container select option 
{
    background-color: #fff; /* Fondo de las opciones */
    color: #333; /* Texto de las opciones */
    padding: 5px 10px;
    cursor: pointer;
}
/*----------------------------------------------------*/
/* Estilo para las opciones seleccionadas */
.select-container select option:checked 
{
    background-color: #CE1126; /* Fondo de las opciones seleccionadas */
    color: #fff; /* Texto de las opciones seleccionadas */
}
  /* Estilo para el contenedor de la etiqueta select */
  .select-container {
    margin-top: 10px;
  }
/*----------------------------------------------------
/* Botón */
.form-container button 
{
    background-color: #CE1126;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover 
{
    background-color: #FFCB05;
    color: #CE1126;
}
