/* Estilo para el botón en la Landing Page */
/*----------------------------------------------*/
.fondo 
{
    background-color: white;
    background-size: cover; /* Ajusta la imagen para cubrir toda la página */
    background-position: center; /* Centra la imagen horizontal y verticalmente */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    height: 100vh; /* Ocupa toda la altura de la ventana gráfica */
    display: flex; /* Usa flexbox */
    flex-direction: column; /* Apila elementos verticalmente */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
}
/* Estilo para las imágenes */
.landing-images {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: flex-start; /* Centrar verticalmente */
    height: 700px; /* Altura ocupada en pantalla */
}
/*----------------------------------------------*/
/* Estilo para las imágenes */
.landingButton {
    font-family: fantasy;
    background-color: #CE1126; /* Fondo rojo */
    color: #FFFFFF; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interior del botón */
    font-size: 30px; /* Tamaño de fuente */
    text-align: center;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
/*-----------------*/
/* Estilo para el botón cuando se pasa sobre él */
.landingButton:hover 
{
    background-color: #FFCB05; /* Fondo amarillo en hover */
    color: #0047AB; /* Texto rojo en hover */
    border-radius: 5px; /* Bordes redondeados en hover */
}


